.b-keyboard-popup__close {
    position: absolute;
    top: 13px;
    right: 13px;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    background: url(//yastatic.net/www/_/k/6/70tByDQRq9tNNYOMWZQzjfim8.png) no-repeat center;
    opacity: .35;
    cursor: pointer
}

.b-keyboard-popup__close:hover {
    opacity: 1
}

.b-keyboard-popup {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    height: 240px;
    background-color: #dbdbda
}

.b-keyboard-popup__gap {
    height: 240px
}

.m-ie10-metro .b-keyboard-popup,.m-ie10-metro .b-keyboard-popup__gap {
    width: 98.5%!important
}

.b-keyboard,.b-keyboard-popup {
    font: .8em Arial,sans-serif
}

.b-keyboard-popup {
    right: 0;
    left: 0;
    font-size: 100%;
    color: #333
}

.b-keyboard__row,.b-keyboard__row__cell {
    padding: 0;
    border-collapse: collapse;
    vertical-align: top
}

.b-keyboard__key,.b-keyboard__key-m {
    margin: 0;
    padding: 0
}

.b-keyboard__key__image {
    padding: 0
}

.b-keyboard__key {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    border-radius: 2px
}

.b-keyboard__key-m {
    line-height: 38px
}

.b-keyboard__key-spacer {
    visibility: hidden;
    width: 60px
}

.b-keyboard__key_special-atmark,.b-keyboard__key_special-capslock,.b-keyboard__key_special-lshift {
    text-align: left
}

.b-keyboard__key_special-atmark .b-keyboard__key-m,.b-keyboard__key_special-capslock .b-keyboard__key-m,.b-keyboard__key_special-lshift .b-keyboard__key-m,.b-keyboard__key_special-rshift .b-keyboard__key-m {
    padding-left: 10px
}

.b-keyboard__key_special-backspace,.b-keyboard__key_special-enter,.b-keyboard__key_special-rshift {
    text-align: right
}

.b-keyboard__key_special-backspace .b-keyboard__key-m,.b-keyboard__key_special-enter .b-keyboard__key-m,.b-keyboard__key_special-rshift .b-keyboard__key-m {
    padding-right: 10px
}

.b-keyboard__key_special-backspace {
    width: 90px
}

.b-keyboard__key_special-atmark {
    width: 48px
}

.b-keyboard__key_special-capslock {
    width: 61px;
    font-size: 12px
}

.b-keyboard__key__image {
    margin: 12px 0 0
}

.b-keyboard__key_special-enter {
    width: 67px;
    font-size: 12px
}

.b-keyboard__key_special-lshift {
    width: 73px;
    font-size: 12px
}

.b-keyboard__key_special-rshift {
    width: 97px;
    font-size: 12px
}

.b-keyboard__key_special-space {
    width: 408px
}

.b-keyboard__key_special-alt {
    width: 122px;
    font-size: 16px
}

.b-keyboard__key_special-sch {
    font-size: 14px
}

.b-keyboard__key_special-accent_mod {
    font-family: Tahoma,sans-serif
}

.b-keyboard__lang-selector {
    text-align: left;
    font-size: 15px
}

.b-menu-vert__item.b-keyboard__lang {
    display: inline-block;
    width: 122px
}

.b-keyboard__popup .b-keyboard__lang {
    padding: 1px 4px;
    font-size: 12px;
    line-height: 22px
}

.b-keyboard__lang-i {
    position: relative;
    display: block;
    width: 98px;
    height: 38px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    background-color: #fff;
    font-size: 12px;
    line-height: 38px
}

.b-keyboard__lang-ic {
    display: inline-block;
    width: 20px;
    height: 12px;
    margin-right: 4px;
    vertical-align: -2px;
    background: url(//yastatic.net/www/_/0/x/M4fBh2IXVq_qoMuGbLJ7635Kc.png) no-repeat;
    font: 0/0 a
}

.b-keyboard__lang-tr .b-keyboard__lang-ic {
    background-position: 0 -119px
}

.b-keyboard__lang-by .b-keyboard__lang-ic {
    background-position: 0 -96px
}

.b-keyboard__lang-kz .b-keyboard__lang-ic {
    background-position: 0 -84px
}

.b-keyboard__lang-tt .b-keyboard__lang-ic {
    background-position: 0 -108px
}

.b-keyboard__lang-ru .b-keyboard__lang-ic {
    background-position: 0 -72px
}

.b-keyboard__lang-ua .b-keyboard__lang-ic {
    background-position: 0 -60px
}

.b-keyboard__lang-es .b-keyboard__lang-ic {
    background-position: 0 -48px
}

.b-keyboard__lang-it .b-keyboard__lang-ic {
    background-position: 0 -36px
}

.b-keyboard__lang-fr .b-keyboard__lang-ic {
    background-position: 0 -24px
}

.b-keyboard__lang-de .b-keyboard__lang-ic {
    background-position: 0 -12px
}

.b-keyboard__lang-en .b-keyboard__lang-ic {
    background-position: 0 0
}

.b-keyboard__lang-id .b-keyboard__lang-ic {
    background-position: 0 -131px
}

.b-keyboard__key_state_marked {
    background-color: #eee
}

.b-keyboard__key_state_pressed .b-keyboard__key-m {
    line-height: 41px
}

.b-keyboard__key_state_pressed .b-keyboard__key__image {
    margin-top: 9px
}

.b-keyboard__key_state_suppressed {
    background-color: #def4d1
}

.b-keyboard__key_state_suppressed .b-keyboard__key-m {
    line-height: 40px
}

.b-keyboard__key_state_suppressed .b-keyboard__key__image {
    margin-top: 13px
}

.b-keyboard__key_state_disabled {
    cursor: default;
    color: #e6e6e6
}

.b-keyboard {
    padding: 18px 10px 8px
}

.b-keyboard__row {
    margin: 0 auto
}

.b-keyboard__langs {
    width: 260px;
    padding: 4px 0
}

.b-keyboard__popup {
    border: none;
    padding: 6px;
    -webkit-transition: opacity .2s,-webkit-transform .2s;
    transition: opacity .2s,transform .2s;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    opacity: 0;
    background-color: #fff;
    -webkit-box-shadow: 2px 0 6px -2px rgba(0,0,0,.4);
    box-shadow: 2px 0 6px -2px rgba(0,0,0,.4)
}

.b-keyboard__popup.popup_visibility_visible {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    opacity: 1
}

.b-keyboard__popup:before {
    content: initial
}

.b-keyboard__popup:after {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 98px;
    height: 10px;
    content: '';
    background-color: #fff
}

.b-keyboard__row__cell {
    padding-bottom: 4px;
    border: solid transparent;
    border-width: 0 4px
}

body .b-keyboard__switcher {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000!important;
    text-decoration: none;
    cursor: pointer
}

.dropdown-menu_action_open .b-keyboard__switcher {
    background: #fff;
    border-radius: 0 0 2px 2px
}

body .b-keyboard__switcher:hover {
    color: red!important
}

.b-keyboard__lang-tick {
    width: 13px;
    height: 14px;
    display: none;
    vertical-align: -2px;
    margin-left: 6px;
    background: url(//yastatic.net/www/_/L/C/ueTRS1iZcPAe7TPQpk5VHvgdc.svg) no-repeat
}

.no-data-url .b-keyboard__lang-tick {
    background-image: url(//yastatic.net/www/_/W/W/-DZUc7wnjg6GheX-B52u9en-8.png)
}

.b-menu-vert__item_state_current .b-keyboard__lang-tick {
    display: inline-block
}
