.keyboard {
	max-width: 900px;
	margin: auto;
}

.keyboard-row {
	display: flex;
}

.keyboard-keysSet {
	display: flex;
	flex-grow: 1;
}

.button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-basis: 82px;
	font-size: 18px;
	height: 64px;
	margin: 5px;
	border-radius: 4px;
}

.keyboard-numberButton {
	flex-grow: 1;
}

.keyboard-halfButton {
	flex-basis: 32px;
}

.keyboard-space {
	flex-grow: 1;
}

.keyboard-utilButton {
	flex-grow: 2;
	max-width: 55px;
}

.keyboard-leftBottomButton {
	flex-basis: 128px;
}

.keyboard-rightBottomButton {
	flex-basis: 128px;
	background-color: #63b324;
	border-color: #63b324;
	color: #ffffff;
}
